{
  "openapi": "3.1.0",
  "info": {
    "title": "Downtown API Reference",
    "version": "1.0.0",
    "description": "REST API for the Downtown (DT) POS system. All responses use a standard envelope: `meta` (status, message, code, trace_id) and `data` or `errors`."
  },
  "servers": [
    {
      "url": "https://dtw-cms.gadingemerald.com/api"
    }
  ],
  "tags": [
    {
      "name": "Tenant Branches"
    },
    {
      "name": "Products"
    },
    {
      "name": "Product Categories"
    },
    {
      "name": "Modifier Groups"
    },
    {
      "name": "Menu Availability"
    }
  ],
  "security": [
    {
      "http": []
    }
  ],
  "paths": {
    "/v1/tenant-branches/banks": {
      "get": {
        "operationId": "tenantBranch.banks",
        "summary": "Return supported Indonesian bank codes for settlement",
        "tags": [
          "Tenant Branches"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "message": {
                          "type": "string",
                          "const": "Success"
                        },
                        "code": {
                          "type": "integer",
                          "const": 200
                        },
                        "trace_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "success",
                        "message",
                        "code",
                        "trace_id"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "prefixItems": [
                        {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "const": "002"
                            },
                            "name": {
                              "type": "string",
                              "const": "Bank Rakyat Indonesia (BRI)"
                            }
                          },
                          "required": [
                            "code",
                            "name"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "const": "008"
                            },
                            "name": {
                              "type": "string",
                              "const": "Bank Negara Indonesia (BNI)"
                            }
                          },
                          "required": [
                            "code",
                            "name"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "const": "009"
                            },
                            "name": {
                              "type": "string",
                              "const": "Bank Mandiri"
                            }
                          },
                          "required": [
                            "code",
                            "name"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "const": "011"
                            },
                            "name": {
                              "type": "string",
                              "const": "Bank Danamon"
                            }
                          },
                          "required": [
                            "code",
                            "name"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "const": "013"
                            },
                            "name": {
                              "type": "string",
                              "const": "Bank Permata"
                            }
                          },
                          "required": [
                            "code",
                            "name"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "const": "014"
                            },
                            "name": {
                              "type": "string",
                              "const": "Bank Central Asia (BCA)"
                            }
                          },
                          "required": [
                            "code",
                            "name"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "const": "016"
                            },
                            "name": {
                              "type": "string",
                              "const": "Maybank Indonesia"
                            }
                          },
                          "required": [
                            "code",
                            "name"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "const": "019"
                            },
                            "name": {
                              "type": "string",
                              "const": "Bank Panin"
                            }
                          },
                          "required": [
                            "code",
                            "name"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "const": "022"
                            },
                            "name": {
                              "type": "string",
                              "const": "CIMB Niaga"
                            }
                          },
                          "required": [
                            "code",
                            "name"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "const": "076"
                            },
                            "name": {
                              "type": "string",
                              "const": "Bank Bumi Arta"
                            }
                          },
                          "required": [
                            "code",
                            "name"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "const": "097"
                            },
                            "name": {
                              "type": "string",
                              "const": "Bank Bukopin"
                            }
                          },
                          "required": [
                            "code",
                            "name"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "const": "110"
                            },
                            "name": {
                              "type": "string",
                              "const": "Bank BJB"
                            }
                          },
                          "required": [
                            "code",
                            "name"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "const": "111"
                            },
                            "name": {
                              "type": "string",
                              "const": "Bank DKI"
                            }
                          },
                          "required": [
                            "code",
                            "name"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "const": "200"
                            },
                            "name": {
                              "type": "string",
                              "const": "Bank Tabungan Negara (BTN)"
                            }
                          },
                          "required": [
                            "code",
                            "name"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "const": "213"
                            },
                            "name": {
                              "type": "string",
                              "const": "Bank BTPN"
                            }
                          },
                          "required": [
                            "code",
                            "name"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "const": "422"
                            },
                            "name": {
                              "type": "string",
                              "const": "Bank Sinarmas"
                            }
                          },
                          "required": [
                            "code",
                            "name"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "const": "451"
                            },
                            "name": {
                              "type": "string",
                              "const": "Bank Syariah Indonesia (BSI)"
                            }
                          },
                          "required": [
                            "code",
                            "name"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "const": "503"
                            },
                            "name": {
                              "type": "string",
                              "const": "Bank UOB Indonesia"
                            }
                          },
                          "required": [
                            "code",
                            "name"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "const": "536"
                            },
                            "name": {
                              "type": "string",
                              "const": "Bank OCBC NISP"
                            }
                          },
                          "required": [
                            "code",
                            "name"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "const": "553"
                            },
                            "name": {
                              "type": "string",
                              "const": "Bank Mayapada"
                            }
                          },
                          "required": [
                            "code",
                            "name"
                          ]
                        }
                      ],
                      "minItems": 20,
                      "maxItems": 20,
                      "additionalItems": false
                    }
                  },
                  "required": [
                    "meta",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/v1/tenant-branches": {
      "get": {
        "operationId": "tenant-branches.index",
        "description": "Results are scoped to the authenticated user's unit or branch assignments.\nA Tenant Keeper user will only see branches assigned to them.",
        "summary": "List tenant branches",
        "tags": [
          "Tenant Branches"
        ],
        "parameters": [
          {
            "name": "brand_id",
            "in": "query",
            "description": "Filter by brand UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "is_active",
            "in": "query",
            "description": "Filter by active status.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search by branch name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page (default 15).",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "message": {
                          "type": "string",
                          "const": "Success"
                        },
                        "code": {
                          "type": "integer",
                          "const": 200
                        },
                        "trace_id": {
                          "type": "string"
                        },
                        "pagination_meta": {
                          "type": "object",
                          "properties": {
                            "current_page": {
                              "type": "integer"
                            },
                            "page_size": {
                              "type": "integer"
                            },
                            "total_items": {
                              "type": "integer"
                            },
                            "total_pages": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "current_page",
                            "page_size",
                            "total_items",
                            "total_pages"
                          ]
                        }
                      },
                      "required": [
                        "success",
                        "message",
                        "code",
                        "trace_id",
                        "pagination_meta"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {}
                    }
                  },
                  "required": [
                    "meta",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      },
      "post": {
        "operationId": "tenant-branches.store",
        "summary": "Create a tenant branch",
        "tags": [
          "Tenant Branches"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTenantBranchRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "message": {
                          "type": "string",
                          "const": "Tenant branch created successfully."
                        },
                        "code": {
                          "type": "integer",
                          "const": 201
                        },
                        "trace_id": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {}
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "doku_failed": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "success",
                        "message",
                        "code",
                        "trace_id",
                        "doku_failed"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "brand_id": {
                          "type": "string"
                        },
                        "brand_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "owner_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "area_id": {
                          "type": "string"
                        },
                        "area_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "branch_name": {
                          "type": "string"
                        },
                        "kd_unit": {
                          "type": "string"
                        },
                        "kd_lokasi": {
                          "type": "string"
                        },
                        "banner_url": {
                          "type": "null"
                        },
                        "is_active": {
                          "type": "boolean"
                        },
                        "settlement_account": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "bank_account_settlement_id": {
                              "type": "string"
                            },
                            "bank_code": {
                              "type": "string"
                            },
                            "account_number": {
                              "type": "string"
                            },
                            "account_holder_name": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "id",
                            "bank_account_settlement_id",
                            "bank_code",
                            "account_number",
                            "account_holder_name"
                          ]
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "brand_id",
                        "brand_name",
                        "owner_name",
                        "area_id",
                        "area_name",
                        "branch_name",
                        "kd_unit",
                        "kd_lokasi",
                        "banner_url",
                        "is_active",
                        "settlement_account",
                        "created_at",
                        "updated_at"
                      ]
                    }
                  },
                  "required": [
                    "meta",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/v1/tenant-branches/{id}": {
      "get": {
        "operationId": "tenant-branches.show",
        "summary": "Get a tenant branch",
        "tags": [
          "Tenant Branches"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "message": {
                          "type": "string",
                          "const": "Success"
                        },
                        "code": {
                          "type": "integer",
                          "const": 200
                        },
                        "trace_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "success",
                        "message",
                        "code",
                        "trace_id"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "brand_id": {
                          "type": "string"
                        },
                        "brand_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "owner_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "area_id": {
                          "type": "string"
                        },
                        "area_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "branch_name": {
                          "type": "string"
                        },
                        "kd_unit": {
                          "type": "string"
                        },
                        "kd_lokasi": {
                          "type": "string"
                        },
                        "banner_url": {
                          "type": "null"
                        },
                        "is_active": {
                          "type": "boolean"
                        },
                        "settlement_account": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "bank_account_settlement_id": {
                              "type": "string"
                            },
                            "bank_code": {
                              "type": "string"
                            },
                            "account_number": {
                              "type": "string"
                            },
                            "account_holder_name": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "id",
                            "bank_account_settlement_id",
                            "bank_code",
                            "account_number",
                            "account_holder_name"
                          ]
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "brand_id",
                        "brand_name",
                        "owner_name",
                        "area_id",
                        "area_name",
                        "branch_name",
                        "kd_unit",
                        "kd_lokasi",
                        "banner_url",
                        "is_active",
                        "settlement_account",
                        "created_at",
                        "updated_at"
                      ]
                    }
                  },
                  "required": [
                    "meta",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      },
      "put": {
        "operationId": "tenant-branches.update",
        "summary": "Update a tenant branch",
        "tags": [
          "Tenant Branches"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTenantBranchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "message": {
                          "type": "string",
                          "const": "Tenant branch updated successfully."
                        },
                        "code": {
                          "type": "integer",
                          "const": 200
                        },
                        "trace_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "success",
                        "message",
                        "code",
                        "trace_id"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "brand_id": {
                          "type": "string"
                        },
                        "brand_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "owner_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "area_id": {
                          "type": "string"
                        },
                        "area_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "branch_name": {
                          "type": "string"
                        },
                        "kd_unit": {
                          "type": "string"
                        },
                        "kd_lokasi": {
                          "type": "string"
                        },
                        "banner_url": {
                          "type": "null"
                        },
                        "is_active": {
                          "type": "boolean"
                        },
                        "settlement_account": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "bank_account_settlement_id": {
                              "type": "string"
                            },
                            "bank_code": {
                              "type": "string"
                            },
                            "account_number": {
                              "type": "string"
                            },
                            "account_holder_name": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "id",
                            "bank_account_settlement_id",
                            "bank_code",
                            "account_number",
                            "account_holder_name"
                          ]
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "brand_id",
                        "brand_name",
                        "owner_name",
                        "area_id",
                        "area_name",
                        "branch_name",
                        "kd_unit",
                        "kd_lokasi",
                        "banner_url",
                        "is_active",
                        "settlement_account",
                        "created_at",
                        "updated_at"
                      ]
                    }
                  },
                  "required": [
                    "meta",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/v1/tenant-branches/{id}/banner": {
      "post": {
        "operationId": "tenantBranch.uploadBanner",
        "description": "Accepts JPEG, PNG, or WebP. Minimum 1280×720 px, maximum 5 MB.\nReplaces any previously uploaded banner.",
        "summary": "Upload branch banner image",
        "tags": [
          "Tenant Branches"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UploadTenantBranchBannerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "message": {
                          "type": "string",
                          "const": "Tenant branch banner uploaded successfully."
                        },
                        "code": {
                          "type": "integer",
                          "const": 200
                        },
                        "trace_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "success",
                        "message",
                        "code",
                        "trace_id"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "brand_id": {
                          "type": "string"
                        },
                        "brand_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "owner_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "area_id": {
                          "type": "string"
                        },
                        "area_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "branch_name": {
                          "type": "string"
                        },
                        "kd_unit": {
                          "type": "string"
                        },
                        "kd_lokasi": {
                          "type": "string"
                        },
                        "banner_url": {
                          "type": "null"
                        },
                        "is_active": {
                          "type": "boolean"
                        },
                        "settlement_account": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "bank_account_settlement_id": {
                              "type": "string"
                            },
                            "bank_code": {
                              "type": "string"
                            },
                            "account_number": {
                              "type": "string"
                            },
                            "account_holder_name": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "id",
                            "bank_account_settlement_id",
                            "bank_code",
                            "account_number",
                            "account_holder_name"
                          ]
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "brand_id",
                        "brand_name",
                        "owner_name",
                        "area_id",
                        "area_name",
                        "branch_name",
                        "kd_unit",
                        "kd_lokasi",
                        "banner_url",
                        "is_active",
                        "settlement_account",
                        "created_at",
                        "updated_at"
                      ]
                    }
                  },
                  "required": [
                    "meta",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "tenantBranch.destroyBanner",
        "summary": "Delete branch banner image",
        "tags": [
          "Tenant Branches"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "message": {
                          "type": "string",
                          "const": "Tenant branch banner deleted successfully."
                        },
                        "code": {
                          "type": "integer",
                          "const": 200
                        },
                        "trace_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "success",
                        "message",
                        "code",
                        "trace_id"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "brand_id": {
                          "type": "string"
                        },
                        "brand_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "owner_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "area_id": {
                          "type": "string"
                        },
                        "area_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "branch_name": {
                          "type": "string"
                        },
                        "kd_unit": {
                          "type": "string"
                        },
                        "kd_lokasi": {
                          "type": "string"
                        },
                        "banner_url": {
                          "type": "null"
                        },
                        "is_active": {
                          "type": "boolean"
                        },
                        "settlement_account": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "bank_account_settlement_id": {
                              "type": "string"
                            },
                            "bank_code": {
                              "type": "string"
                            },
                            "account_number": {
                              "type": "string"
                            },
                            "account_holder_name": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "id",
                            "bank_account_settlement_id",
                            "bank_code",
                            "account_number",
                            "account_holder_name"
                          ]
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "brand_id",
                        "brand_name",
                        "owner_name",
                        "area_id",
                        "area_name",
                        "branch_name",
                        "kd_unit",
                        "kd_lokasi",
                        "banner_url",
                        "is_active",
                        "settlement_account",
                        "created_at",
                        "updated_at"
                      ]
                    }
                  },
                  "required": [
                    "meta",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/v1/tenant-branches/{id}/settlement-accounts": {
      "get": {
        "operationId": "tenantBranch.listSettlementAccounts",
        "summary": "List settlement bank accounts for a tenant branch",
        "tags": [
          "Tenant Branches"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "message": {
                          "type": "string",
                          "const": "Success"
                        },
                        "code": {
                          "type": "integer",
                          "const": 200
                        },
                        "trace_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "success",
                        "message",
                        "code",
                        "trace_id"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {}
                    }
                  },
                  "required": [
                    "meta",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      },
      "post": {
        "operationId": "tenantBranch.addSettlementAccount",
        "description": "Deactivates the current active account and registers the new one via Doku.",
        "summary": "Add or replace settlement bank account for a tenant branch",
        "tags": [
          "Tenant Branches"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddBranchSettlementAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "message": {
                          "type": "string",
                          "const": "Settlement bank account updated successfully."
                        },
                        "code": {
                          "type": "integer",
                          "const": 200
                        },
                        "trace_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "success",
                        "message",
                        "code",
                        "trace_id"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "brand_id": {
                          "type": "string"
                        },
                        "brand_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "owner_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "area_id": {
                          "type": "string"
                        },
                        "area_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "branch_name": {
                          "type": "string"
                        },
                        "kd_unit": {
                          "type": "string"
                        },
                        "kd_lokasi": {
                          "type": "string"
                        },
                        "banner_url": {
                          "type": "null"
                        },
                        "is_active": {
                          "type": "boolean"
                        },
                        "settlement_account": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "bank_account_settlement_id": {
                              "type": "string"
                            },
                            "bank_code": {
                              "type": "string"
                            },
                            "account_number": {
                              "type": "string"
                            },
                            "account_holder_name": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "id",
                            "bank_account_settlement_id",
                            "bank_code",
                            "account_number",
                            "account_holder_name"
                          ]
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "brand_id",
                        "brand_name",
                        "owner_name",
                        "area_id",
                        "area_name",
                        "branch_name",
                        "kd_unit",
                        "kd_lokasi",
                        "banner_url",
                        "is_active",
                        "settlement_account",
                        "created_at",
                        "updated_at"
                      ]
                    }
                  },
                  "required": [
                    "meta",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/v1/products/{id}/image": {
      "post": {
        "operationId": "product.uploadImage",
        "description": "Accepts JPEG, PNG, or WebP. Maximum size 5 MB.\nReplaces any previously uploaded image.",
        "summary": "Upload product image",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UploadProductImageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "message": {
                          "type": "string",
                          "const": "Product image uploaded successfully."
                        },
                        "code": {
                          "type": "integer",
                          "const": 200
                        },
                        "trace_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "success",
                        "message",
                        "code",
                        "trace_id"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "brand_id": {
                          "type": "string"
                        },
                        "brand_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "category_id": {
                          "type": "string"
                        },
                        "category_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "sku": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "tags": {
                          "type": [
                            "array",
                            "null"
                          ],
                          "items": {}
                        },
                        "dpp_price": {
                          "type": "number"
                        },
                        "pb1_percentage": {
                          "type": "number"
                        },
                        "pb1_price": {
                          "type": "number"
                        },
                        "total_price": {
                          "type": "number"
                        },
                        "image_url": {
                          "type": "null"
                        },
                        "is_active": {
                          "type": "boolean"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "brand_id",
                        "brand_name",
                        "category_id",
                        "category_name",
                        "sku",
                        "name",
                        "description",
                        "tags",
                        "dpp_price",
                        "pb1_percentage",
                        "pb1_price",
                        "total_price",
                        "image_url",
                        "is_active",
                        "created_at",
                        "updated_at"
                      ]
                    }
                  },
                  "required": [
                    "meta",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/v1/products": {
      "get": {
        "operationId": "products.index",
        "description": "Returns a paginated list of products scoped to the authenticated user's brand access.",
        "summary": "List products",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "brand_id",
            "in": "query",
            "description": "Filter by brand UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "category_id",
            "in": "query",
            "description": "Filter by product category UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "is_active",
            "in": "query",
            "description": "Filter by active status.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search by product name or SKU.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page (default 15).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "all",
            "in": "query",
            "description": "Return all records without pagination.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "message": {
                          "type": "string",
                          "const": "Success"
                        },
                        "code": {
                          "type": "integer",
                          "const": 200
                        },
                        "trace_id": {
                          "type": "string"
                        },
                        "pagination_meta": {
                          "type": "object",
                          "properties": {
                            "current_page": {
                              "type": "integer"
                            },
                            "page_size": {
                              "type": "integer"
                            },
                            "total_items": {
                              "type": "integer"
                            },
                            "total_pages": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "current_page",
                            "page_size",
                            "total_items",
                            "total_pages"
                          ]
                        }
                      },
                      "required": [
                        "success",
                        "message",
                        "code",
                        "trace_id",
                        "pagination_meta"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {}
                    }
                  },
                  "required": [
                    "meta",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      },
      "post": {
        "operationId": "products.store",
        "summary": "Create a product",
        "tags": [
          "Products"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "message": {
                          "type": "string",
                          "const": "Product created successfully."
                        },
                        "code": {
                          "type": "integer",
                          "const": 201
                        },
                        "trace_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "success",
                        "message",
                        "code",
                        "trace_id"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "brand_id": {
                          "type": "string"
                        },
                        "brand_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "category_id": {
                          "type": "string"
                        },
                        "category_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "sku": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "tags": {
                          "type": [
                            "array",
                            "null"
                          ],
                          "items": {}
                        },
                        "dpp_price": {
                          "type": "number"
                        },
                        "pb1_percentage": {
                          "type": "number"
                        },
                        "pb1_price": {
                          "type": "number"
                        },
                        "total_price": {
                          "type": "number"
                        },
                        "image_url": {
                          "type": "null"
                        },
                        "is_active": {
                          "type": "boolean"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "brand_id",
                        "brand_name",
                        "category_id",
                        "category_name",
                        "sku",
                        "name",
                        "description",
                        "tags",
                        "dpp_price",
                        "pb1_percentage",
                        "pb1_price",
                        "total_price",
                        "image_url",
                        "is_active",
                        "created_at",
                        "updated_at"
                      ]
                    }
                  },
                  "required": [
                    "meta",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/v1/products/{id}": {
      "get": {
        "operationId": "products.show",
        "summary": "Get a product",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "message": {
                          "type": "string",
                          "const": "Success"
                        },
                        "code": {
                          "type": "integer",
                          "const": 200
                        },
                        "trace_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "success",
                        "message",
                        "code",
                        "trace_id"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "brand_id": {
                          "type": "string"
                        },
                        "brand_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "category_id": {
                          "type": "string"
                        },
                        "category_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "sku": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "tags": {
                          "type": [
                            "array",
                            "null"
                          ],
                          "items": {}
                        },
                        "dpp_price": {
                          "type": "number"
                        },
                        "pb1_percentage": {
                          "type": "number"
                        },
                        "pb1_price": {
                          "type": "number"
                        },
                        "total_price": {
                          "type": "number"
                        },
                        "image_url": {
                          "type": "null"
                        },
                        "is_active": {
                          "type": "boolean"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "brand_id",
                        "brand_name",
                        "category_id",
                        "category_name",
                        "sku",
                        "name",
                        "description",
                        "tags",
                        "dpp_price",
                        "pb1_percentage",
                        "pb1_price",
                        "total_price",
                        "image_url",
                        "is_active",
                        "created_at",
                        "updated_at"
                      ]
                    }
                  },
                  "required": [
                    "meta",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      },
      "put": {
        "operationId": "products.update",
        "summary": "Update a product",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProductRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "message": {
                          "type": "string",
                          "const": "Product updated successfully."
                        },
                        "code": {
                          "type": "integer",
                          "const": 200
                        },
                        "trace_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "success",
                        "message",
                        "code",
                        "trace_id"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "brand_id": {
                          "type": "string"
                        },
                        "brand_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "category_id": {
                          "type": "string"
                        },
                        "category_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "sku": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "tags": {
                          "type": [
                            "array",
                            "null"
                          ],
                          "items": {}
                        },
                        "dpp_price": {
                          "type": "number"
                        },
                        "pb1_percentage": {
                          "type": "number"
                        },
                        "pb1_price": {
                          "type": "number"
                        },
                        "total_price": {
                          "type": "number"
                        },
                        "image_url": {
                          "type": "null"
                        },
                        "is_active": {
                          "type": "boolean"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "brand_id",
                        "brand_name",
                        "category_id",
                        "category_name",
                        "sku",
                        "name",
                        "description",
                        "tags",
                        "dpp_price",
                        "pb1_percentage",
                        "pb1_price",
                        "total_price",
                        "image_url",
                        "is_active",
                        "created_at",
                        "updated_at"
                      ]
                    }
                  },
                  "required": [
                    "meta",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/v1/product-categories/reorder": {
      "post": {
        "operationId": "productCategory.reorder",
        "description": "Accepts an ordered array of category UUIDs and updates their `sort_order` accordingly.\nAll provided UUIDs must belong to categories under the same brand.",
        "summary": "Reorder product categories",
        "tags": [
          "Product Categories"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReorderProductCategoriesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "message": {
                          "type": "string",
                          "const": "Categories reordered successfully."
                        },
                        "code": {
                          "type": "integer",
                          "const": 200
                        },
                        "trace_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "success",
                        "message",
                        "code",
                        "trace_id"
                      ]
                    },
                    "data": {
                      "type": "null"
                    }
                  },
                  "required": [
                    "meta",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/v1/product-categories": {
      "get": {
        "operationId": "product-categories.index",
        "description": "Returns a paginated list of product categories scoped to the authenticated user's brand access.\nCategories are returned in a flat list; use `parent_category_id` to reconstruct the tree client-side.",
        "summary": "List product categories",
        "tags": [
          "Product Categories"
        ],
        "parameters": [
          {
            "name": "brand_id",
            "in": "query",
            "description": "Filter by brand UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "is_active",
            "in": "query",
            "description": "Filter by active status.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search by category name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page (default 15).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "all",
            "in": "query",
            "description": "Return all records without pagination.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "message": {
                          "type": "string",
                          "const": "Success"
                        },
                        "code": {
                          "type": "integer",
                          "const": 200
                        },
                        "trace_id": {
                          "type": "string"
                        },
                        "pagination_meta": {
                          "type": "object",
                          "properties": {
                            "current_page": {
                              "type": "integer"
                            },
                            "page_size": {
                              "type": "integer"
                            },
                            "total_items": {
                              "type": "integer"
                            },
                            "total_pages": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "current_page",
                            "page_size",
                            "total_items",
                            "total_pages"
                          ]
                        }
                      },
                      "required": [
                        "success",
                        "message",
                        "code",
                        "trace_id",
                        "pagination_meta"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {}
                    }
                  },
                  "required": [
                    "meta",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      },
      "post": {
        "operationId": "product-categories.store",
        "summary": "Create a product category",
        "tags": [
          "Product Categories"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductCategoryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "message": {
                          "type": "string",
                          "const": "Category created successfully."
                        },
                        "code": {
                          "type": "integer",
                          "const": 201
                        },
                        "trace_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "success",
                        "message",
                        "code",
                        "trace_id"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "brand_id": {
                          "type": "string"
                        },
                        "brand_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "parent_category_id": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "parent_category_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "name": {
                          "type": "string"
                        },
                        "sequence_order": {
                          "type": "integer"
                        },
                        "is_active": {
                          "type": "boolean"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "brand_id",
                        "brand_name",
                        "parent_category_id",
                        "parent_category_name",
                        "name",
                        "sequence_order",
                        "is_active",
                        "created_at",
                        "updated_at"
                      ]
                    }
                  },
                  "required": [
                    "meta",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/v1/product-categories/{id}": {
      "get": {
        "operationId": "product-categories.show",
        "summary": "Get a product category",
        "tags": [
          "Product Categories"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "message": {
                          "type": "string",
                          "const": "Success"
                        },
                        "code": {
                          "type": "integer",
                          "const": 200
                        },
                        "trace_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "success",
                        "message",
                        "code",
                        "trace_id"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "brand_id": {
                          "type": "string"
                        },
                        "brand_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "parent_category_id": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "parent_category_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "name": {
                          "type": "string"
                        },
                        "sequence_order": {
                          "type": "integer"
                        },
                        "is_active": {
                          "type": "boolean"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "brand_id",
                        "brand_name",
                        "parent_category_id",
                        "parent_category_name",
                        "name",
                        "sequence_order",
                        "is_active",
                        "created_at",
                        "updated_at"
                      ]
                    }
                  },
                  "required": [
                    "meta",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      },
      "put": {
        "operationId": "product-categories.update",
        "summary": "Update a product category",
        "tags": [
          "Product Categories"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProductCategoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "message": {
                          "type": "string",
                          "const": "Category updated successfully."
                        },
                        "code": {
                          "type": "integer",
                          "const": 200
                        },
                        "trace_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "success",
                        "message",
                        "code",
                        "trace_id"
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "brand_id": {
                          "type": "string"
                        },
                        "brand_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "parent_category_id": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "parent_category_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "name": {
                          "type": "string"
                        },
                        "sequence_order": {
                          "type": "integer"
                        },
                        "is_active": {
                          "type": "boolean"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "brand_id",
                        "brand_name",
                        "parent_category_id",
                        "parent_category_name",
                        "name",
                        "sequence_order",
                        "is_active",
                        "created_at",
                        "updated_at"
                      ]
                    }
                  },
                  "required": [
                    "meta",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "product-categories.destroy",
        "description": "Fails with 409 if the category still has products assigned to it.",
        "summary": "Delete a product category",
        "tags": [
          "Product Categories"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
[...]
